/* .nav-container{
    display: flex;
    border: 1px solid black;
    box-shadow: 1px 5px 7px rgb(244, 244, 244);
    justify-content:space-between;
    height: 105px;
    padding: 2px;
    background-color: #343434;

}
.logo{
    margin-left: 2px;
    height: 100px;
    width: 100px;   
    border-radius: 50%;
}
.logo:hover{
    
  margin-left: 15px ;  
    
}
.navbar{
    display:flex;
    justify-content:space-between;   
    padding:10px 20px
}
.navbar >li {
    list-style-type: none;
    text-decoration: none;
    color:#f0f0f0;
    padding:10px;
    margin: 10px;
    font-size: 24px;
}

 */
