.nav-container{
    display: flex;
    border: 1px solid black;
    box-shadow: 1px 5px 7px rgb(110, 98, 98);
    justify-content:space-between;
    height: 105px;
    padding: 2px;
}
.logo{
    height: 100px;
    width: 100px;
    
   
}
.navbar{
    display:flex;
    justify-content:space-between;   
    padding:10px 20px
}
.navbar >li {
    list-style-type: none;
    padding:10px;
    margin: 10px;
    font-size: 24px;
}


