/* .res-card{
    height: 400px;;
    width:auto; 
    border: 2px solid black;
    box-shadow: 1px 2px 3px black;
    background-color: #f0f0f0;   
    margin:2px;   
    transition: transform .2s; 
}   
.span{
    color: black;
    font-weight: bold;
    font-size: medium;
}
.name{
    color: black;
    font-weight: bold;
    font-size:larger;
}

.res-card:hover{
    transform: scale(1.1);
    border-color:black ; 
}
.res-info{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
   
    width: 300px;
}
.res-card >img{
    height:200px ;
    width:400px;
    object-fit:fill; 
}
 */
